.input_cebolla{
  margin: 20px auto;


}
#root{
  display: flex;;
  justify-content: center;
  align-items: center;
    height: 100vh;
}
.colorOdio{
  background-color: red;
}
.colorNoOdio{
  background-color: white;
}
